// 
// Global
// 

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
// 
// https://caniuse.com/?search=scroll-padding


body {
    font-family: $font-family-sans-serif;
}

.logo {
    max-width: 60px;
    max-height: 60px;
    width: 60vw;
}

.categorias {
    max-width: 800px;
    img {
        max-height: 200px;
    }
}
