// 
// Global
// 

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
// 
// https://caniuse.com/?search=scroll-padding


body {
    font-family: $font-family-sans-serif;
}

.logo {
    max-width: 60px;
    max-height: 60px;
    width: 60vw;
}

.categorias {
    max-width: 90%;
    min-width: 50%;

    img {
        height: 300px;
        width: auto;
        object-fit: contain;
        display: block;
        max-width: 100%;
    }
}

@media (max-width: 700px) {
    .categorias {
        max-width: 50%;
        min-width: 40%;

        img {
            height: 150px;
            width: auto;
            object-fit: contain;
        }
    }
}