// 
// Global
// 

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
// 
// https://caniuse.com/?search=scroll-padding


body {
    font-family: $font-family-sans-serif;
}

.categorias {
    max-width: 800px;
    img {
        max-height: 200px;
    }
}
