// 
// Global
// 

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
// 
// https://caniuse.com/?search=scroll-padding

html {
    height: 100%;
    scroll-padding-top: calc(#{$navbar-height} - 1px);
}

body {
    font-family: $font-family-sans-serif;
}

.categorias {
    max-width: 800px;
    img {
        max-height: 200px;
    }
}
