// 
// Styles
// 

// Import custom variables and override default Bootstrap variables
@import  "./variables.scss";

// Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

$bootstrap-icons-font-src: url("../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2"), url("../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff");
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

// Import custom styles
@import "./global.scss";

// Components
@import "./components/forms.scss";
@import "./components/tarjetasProductos.scss";
@import "./components/video.scss";
@import "./components/juegoAntonio.scss";
@import "./components/sobreNosotros.scss";


// Sections
@import "./sections/typography";
