.font-marcas {
    font-family: $font-family-marcas !important;
}

.font-principal {
    font-family: $font-family-principal !important;
}

.font-titulos {
    font-family: $font-family-titulos !important;
}

.font-small {
    font-size: $font-size-s;
}

.font-medium {
    font-size: $font-size-m;
}

.font-large {
    font-size: $font-size-l;
}