// 
// Colors
// tema claro
$color-fondo-claro: #ffffff; 
$color-principal-claro: #1E3B8A;
$color-secundario-claro: #8CB1ED;
$color-accent-claro: #10B77F;
$color-texto-claro: #000000;
$color-gris-muyclaro: #F1F3FF;
$color-gris-muyclaro2: #EBEBEB;
$color-oferta-claro: #FF0000;
$color-fondogris-claro: #9F9E9E;

//- Override primary color
$primary: $color-principal-claro;
$secondary: $color-secundario-claro;
$info: $color-accent-claro;
$dark: $color-texto-claro;
$light: $color-fondo-claro;
$danger: $color-oferta-claro;

// $danger: yellow;
// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio: 2.4;
