// 
// Forms
// 

// Override variables for the Bootstrap floating forms component

$form-floating-height: 5.5rem;
$form-floating-padding-x: 0;
$form-floating-padding-y: 1.5rem;
$form-floating-input-padding-t: 2.5rem;
$form-floating-input-padding-b: 1.5rem;
$form-floating-label-transform: scale(.65) translateY(-.5rem) translateX(0rem);

// Select
$border-radius-forms: none; // Radio por defecto de Bootstrap (6px)

$form-select-border-color: $color-secundario-claro;
$form-select-border-radius: $border-radius-forms;

// Inputs
$input-border-radius: $border-radius-forms;