// 
// Typography
// 

$font-family-titulos: "Vollkorn";
$font-family-principal: "Open Sans";
$font-family-marcas: "Playfair Display";


$font-size-s: 10px;
$font-size-m: 14px;
$font-size-l: 20px;

$font-size-h1: 55px;
$font-size-h2: 50px;
$font-size-h3: 42px;
$font-size-h4: 30px;
$font-size-h5: 24px;
$font-size-h6: 18px;

$h1-font-size: $font-size-h1;
$h2-font-size: $font-size-h2;
$h3-font-size: $font-size-h3;
$h4-font-size: $font-size-h4;
$h5-font-size: $font-size-h5;
$h6-font-size: $font-size-h6;