// 
// Typography
// 

$font-family-titulos: "Vollkorn";
$font-family-principal: "Open Sans";
$font-family-marcas: "Playfair Display";


$font-family-sans-serif: $font-family-principal;
$headings-font-family: $font-family-titulos;
$font-marcas: $font-family-marcas;

$font-size-s: 10px;
$font-size-m: 14px;
$font-size-l: 20px;

$font-size-h1: 55px;
$font-size-h2: 50px;
$font-size-h3: 42px;
$font-size-h4: 30px;
$font-size-h5: 24px;
$font-size-h6: 18px;