.bodyJuego {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    color: white;
    font-family: Arial, sans-serif;
    background-image: url(../assets/img/fondoNebulosa.jpg);
}

.bodyJuego #container {
    border: 2px solid white;
}

.contenedorJuego {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedorJuego a {
    display: block;
    align-self: flex-end;
    margin-block: 25px;
    background-color: rgba(111, 0, 247, 0.4);
    color: white;
    padding-inline: 30px;
    padding-block: 10px;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 5px 5px 20px rgb(111, 0, 247);
}