.tarjetasProductos {
    min-width: 250px;
    margin-block: 30px;
}

.tarjetasProductos img {
    height: 300px;
}

@media(max-width: 700px) {
    .tarjetasProductos {
        min-width: 150px;
        margin-block: 30px;
    }

    .tarjetasProductos img {
        height: 150px;
    }
}